doctype html

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet"
    href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css',
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1",
    crossorigin="anonymous"
    )
    link(rel="stylesheet", href="/stylesheets/layout.css")
    block load_css
    title #{title}

  body
    // navigation bar
    header.navbar.navbar-expand-lg.navbar-light.rounded.sticky-top.m-2.p-1#navbar
      nav.container-xxl(aria-label="Main navigation")
        a.navbar-brand.p-0.me-2(href="/")
          img.d-block.my-1.nav-icon(src="http://fakeimg.pl/75x75/00CED1/FFF/?text=LOGO")
        button.navbar-toggler.collapsed(type="button",
          data-bs-toggle="collapse",
          data-bs-target="#navbarNavAltMarkup",
          aria-controls="navbarNavAltMarkup",
          aria-expanded="false",
          aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarNavAltMarkup
          ul.navbar-nav.flex-row.flex-wrap.bd-navbar-nav.pt-2.py-md-0
            li.nav-item.col-6.col-md-auto
              a.nav-link.p-2.active(href="/") 首頁
            li.nav-item.col-6.col-md-auto
              a.nav-link.p-2.active(href="/user/profile") 使用者
            li.nav-item.col-6.col-md-auto
              a.nav-link.p-2.active(href="/cardset/edit") 編輯卡組
            li.nav-item.col-6.col-md-auto
              a.nav-link.p-2.active(href="/#about") 聯絡
          hr.d-md-none.text-black-50
          ul.navbar-nav.flex-row.flex-wrap.ms-md-auto
            -if(!signedIn){
              li.nav-item.col-6.col-md-auto
                a.nav-link.p-2.active(href="/account/google-oauth2/sign-in-page") 登入
              li.nav-item.col-6.col-md-auto
                a.nav-link.p-2.active(href="/account/google-oauth2/sign-up-page") 註冊
            -}else{
              li.nav-item.col-6.col-md-auto
                a.nav-link.p-2.active(href="/account/google-oauth2/sign-out-page") 登出
            -}
    // content
    block content

    // copy right footer
    div.container-fluid.p-1.fixed-bottom
      p.fs-6.m-0.text-break &copy; copyright by Howard-Su

    // load bootstrap js
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js",
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW",
    crossorigin="anonymous")
